*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

header{
    width: auto;
    position: sticky;
    top: 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    
}



nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: auto;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

nav ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}

li a{
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}

.logo{
    width: 150px;

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 140, 140);
    color: rgb(255, 255, 255);
    height: 200px;
    font-size: 100px;
    border-radius: 10px;
    
}

h2{
    padding: 25px;
    text-align: center;
    font-size: 35px;
}

h3{
    background-color: white;
    border-radius: 5px;
    background-color: rgb(25, 140, 140);
    color: white;
}

.presentation-home{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    justify-items: center;
    
}

.presentation-home p{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    box-shadow: 1px 1px;
    text-align: center;

}
    
.img-home{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;

} 

.map-cards{
    padding: 20px;
    gap: 50px;
    transition: 0.5s;
    
}

.map-cards img{
    object-fit: cover;
    
}

.map-cards:hover{
    filter: grayscale(50%);
    opacity: 0.5;
    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: space-between;
    justify-items: center;
}

.gallery img{
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    max-width: 100%;
    
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;   
}

.product-card img{
    object-fit: cover;
}

.product-card{
    padding: 20px;
    gap: 50px;
    transition: 0.5s;
}

.product-card:hover{
    filter: grayscale(50%);
    opacity: 0.5;
}

.products img{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
}

.tamaños p{
    background-color: white;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.form-campos{
    display: flex;
    flex-direction: column;
    padding: 50px 50px 200px 50px;
    border-radius: 10px;
   
}

input{
    border-radius: 5px;
}

button{
    width: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#msj{
    width: auto;
    height: 150px;
}

.background{
    position: absolute;
    z-index: -1;
}



body{
    padding: 25px 50px 50px 50px;
    border-radius: 10px;
    background-image: url(../imagenes/MVD\ 1_page-0001.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    width: auto;
}


@media (max-width: 650px) {
            .gallery{
                display: flex;
                flex-direction: column;
            }
            .products{
                display: flex;
                flex-direction: column;
            }
            header{
                flex-direction: column;
                font-size: 10px;
                padding: 20px;
            }
            h1{
                font-size: 75px;
            }
}

@media (max-width: 961px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header{
        font-size: 10px;
    }
    .presentation-home{
        display: flex;
        flex-direction: column;
    }
    

}
@media (max-width: 400px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 20px;
    }
    body{
        padding: 0%;
    }
}

footer{
    background-color: black;
    color: white;
    border-radius: 10px;
    height: auto;

}