body{
    padding: 25px 50px 50px 50px;
    border-radius: 10px;
    background-image: url(../imagenes/MVD\ 1_page-0001.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    width: auto;
}