.form-campos{
    display: flex;
    flex-direction: column;
    padding: 50px 50px 200px 50px;
    border-radius: 10px;
   
}

input{
    border-radius: 5px;
}

button{
    width: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}